.heading-primary {
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  width: fit-content;

  &:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(black, 0.2);
  }
}

.center-vertical {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.zoom-image-on-hover {
  &:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
    z-index: 5;
  }
}
