// FONT VARIABLES
$font-primary: 'Lato', sans-serif;

// COLOR
$color-white: #fff;
$color-black: #000;

$color-grey-dark-1: #111;
$color-grey-dark-2: #222;
$color-grey-dark-3: #333;
$color-grey-dark-4: #777;

$color-grey-light-1: rgb(215, 215, 215);
$color-grey-light-2: rgb(235, 235, 235);
$color-grey-light-3: rgb(250, 250, 250);

$color-blue-dark-1: #101d2c;
$color-blue-dark-2: #0d3457;

$color-primary: #144e83;
$color-secondary: #23520b;

$color-gradient-primary: linear-gradient(147deg, #ffe53b 0%, #ff2525 75%);

// MAX WIDTH
$max-width: 120rem;
